footer.footer
  .container
    .row
      .col.s12.xl3
        h5.black-text Connect With Us
      .col.s12.xl3
        i.fas.fa-envelope(style="color: #3c7d5a") EMAIL SUPPORT
        br
        | smartfarm@gmail.com
      .col.s12.xl3
        i.fas.fa-phone(style="color: #3c7d5a") PHONE SUPPORT
        br
        | 16258
      .col.s12.xl3
        .icons
          a(href="#")
            img(src="/imgs/google.png" alt="google-icon")
          a(href="#")
            img(src="/imgs/facebook.png" alt="facebook-icon")
          a(href="#")
            img(src="/imgs/twitter (1).png" alt="twitter-icon")
          a(href="#")
            img(src="/imgs/instagram.png" alt="instagram-icon")
