extends base

block content
  div.container.main-home
    .col.s12.m6
      .info
        h4 About Us
        p
          | An organic farm with a big mission behind. 
          br
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          br
          | Quam pellentesque scelerisque interdum viverra justo, laoreet pellentesque.
    .col.s12.m6
      .feedback
        .row.feedback-item
          img(src="imgs/Group.png") 
          span   100% organic products
        .row.feedback-item
          img(src="imgs/Group.png") 
          span   Cruelty free
        .row.feedback-item
          img(src="imgs/Group.png") 
          span   Support local community

  div.container.main-home
    .row
      .s12.m6
        .content
          h5.center-align Our Shop
          pre 
            | High quality organic products
            | Lorem ipsum dolor sit amet, consectetur adipiscing
            | elit. Eleifend turpis lacus ornare quam non. Elemental tells.

  footer.home-footer
    .container
      .footer-img
        a(href="#")
          img(src="imgs/tomatoH.png" alt="tomato")
        a(href="#")
          img(src="imgs/potatoH.png" alt="potato")
        a(href="#")
          img(src="imgs/cucumberH.png" alt="cucumber")
        a(href="#")
          img(src="imgs/carrotH.png" alt="carrot")
        a(href="#")
          img(src="imgs/greenpeasH.png" alt="Greenpeas")
