doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel="icon", type="image/x-icon", href="imgs/logo.png")
    link(rel="stylesheet", href="css/all.min.css")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    title Organix
    style.
      * {
        font-family: "Inter";
        padding: 0;
        margin: 0;
      }
      html,
      body {
        height: 100%;
      }
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
      }
  body.login-page
    .container.mt-3.login
        .row.justify-content-center.align-items-center(style="height: 100%")
            .col.s12.m6.d-flex.justify-content-center.img-container(style="height: 80%")
                img.responsive-img(src="imgs/login.png", alt="Login Image")
            .col.s12.m6.l4.d-flex.justify-content-center.align-items-center.text-center.form-container
                div
                    form#login-form
                        h1.font-weight-bold Login
                        .inputField
                            .input-field
                                i.fas.fa-envelope.prefix
                                input(type="email", id="email", class="validate", placeholder="Email address", required)
                            .input-field
                                i.fas.fa-lock.prefix
                                input(type="password", id="password", class="validate", placeholder="Password", required)
                            .row.mt-5
                                .col.s6
                                label
                                    input(type="checkbox", id="rememberMe")
                                    span Remember Me
                                .col.s6.right-align
                                a(href="/forgetPass") Forgot Password?
                            button.btn.btn-login(type="submit") Login
                            p.switch-form
                            | Don't have an account?
                            a(href="/signup", id="switch-to-login") Sign up
    script(src="/js/materialize.min.js")
    script(src="/js/all.min.js")
    script(src="/js/bundle.js")
